.article {
  display: flex;
  flex-direction: column;
  width: 30%;
  border: 2px solid #5fadad;
  text-align: center;
  justify-content: center;
  align-items: center;
  padding: 2%;
  border-radius: 12px;
  background-color: #f3faf9;
}
